div#contenidoarticulo div.articulo{width: 900px; border: 2px solid red; margin: 0 auto;}

.imgtitulo {width: 900px; height: 350px; position: relative;}

.imgcontenido {max-width: 850px; max-height: 500px; padding-left: 24px;}

div.articulo h1{
    position: absolute; 
    top: 330px; 
    color: white; 
    font-size: 20px; 
    width: 900px;
    text-align: center;
    color: white; padding: 10px;
    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 0;
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;}

div.articulo h2{
    padding-left:  80px;
    position: absolute; top: 433px;
    color: white;
    font-family: Georgia, serif;
    font-weight: 500;
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;}

div.articulo p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 29px;
    text-rendering: optimizeLegibility;
    color: #555;}

