div#contenidoblog div#widgets {
    border: 1px solid red;}

div#contenidoblog div#noticias {width: 820px;float: left;}

div#contenidoblog div#widgets {width: 320px; height: 400px;float: right;}

div#contenidoblog div#noticias div.articulo p.fotoarticulo {float: left;}
div#contenidoblog div#noticias div.articulo div.textoarticulo {
    float:left;width: 540px; }

div#contenidoblog div#noticias div.articulo {margin-bottom: 30px; }

div#contenidoblog div#noticias div.articulo div.textoarticulo p.tit {
    background: white;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 15px 40px;
    font-size: 24px;
    margin-bottom: 15px;
}

div#contenidoblog div#noticias div.articulo div.textoarticulo p.resumen {
    padding-left: 40px;
    margin-bottom: 30px;
}




div#contenidoblog div#noticias div.articulo div.textoarticulo p.masinfo a {
    background-color: black; color: white; margin-left: 40px;text-decoration: none;
    padding:7px;margin-top: 20px; font-size: 12px; margin-bottom: 20px;}

div#contenidoblog div#noticias div.articulo div.textoarticulo p.detalles {
    margin-left: 40px;margin-top: 20px; font-size: 12px;
    
}
div#contenidoblog div#noticias div.articulo div.textoarticulo p.detalles span span {width: 14px; height: 14px; display: block;float: left; margin-right: 10px; background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    }

div#contenidoblog div#noticias div.articulo div.textoarticulo p.detalles span {float: left;margin-right: 5px;}

div#contenidoblog div#noticias div.articulo div.textoarticulo p.detalles span.date span {background-position: -192px -120px;}
div#contenidoblog div#noticias div.articulo div.textoarticulo p.detalles span.autor span {background-position: -168px 0px;}
div#contenidoblog div#noticias div.articulo div.textoarticulo p.detalles span.comentarios span {background-position: -240px -120px;}
div#contenidoblog div#noticias div.articulo div.textoarticulo p.detalles span.etiquetas span {background-position: 0px -48px;}


div#contenidoblog div#widgets div#caja1 p {
    background: white;
    border-bottom: 1px dotted grey;
    border-top: 1px dotted grey;
    padding: 15px 20px;
    font-size: 20px;
    margin-bottom: 15px;
}

div#contenidoblog div#widgets div#caja1 ul li a {
    text-decoration: none;   
    color:#d8450b;
    padding: 15px 15px;
}