div#contenido{
    padding-bottom: 14px;
    
}

div.caja_articulo{
    float: left;
    border-radius: 3px;
    margin-left: 14px;
    width: 275px; height: 275px;
    margin-top: 14px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.23), 0 3px 10px rgba(0,0,0,0.16);}

.caja_articulo img{height: 200px; width: 100%; 
    background-position: center center; background-repeat: no-repeat;
    border-radius: 3px 3px; background-size: cover;}

.caja_articulo h2 { display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 23px;
    color: black;
    padding-left: 8px; padding-right: 8px;
    font-family: 'Average Sans', sans-serif;}



div.caja_articulo div.lupa {
    width: 42px;
    height: 42px;
    background: white url("../img/gallery-item-icons.png");
    position: absolute; right:42.5px; bottom: 74px;
}

div.caja_articulo div.lupa:hover {background: orange url("../img/gallery-item-icons.png");}
            
            
div.caja_articulo div.detalles {
    width: 42px;
    height: 42px;
    background: white url("../img/gallery-item-icons.png");
    background-position: 43px;
    position: absolute; right:0px; bottom: 74px;
}

div.caja_articulo div.detalles:hover {
    background: orange url("../img/gallery-item-icons.png");
background-position: 43px;}


div.caja_articulo div.telon {
    width: 276px; height: 200px;
    background: rgba(204,204,204,0.2);
    position: absolute; top:0px; left: 0px;
    display: block;
}

div.caja_articulo:hover div.telon {background: rgba(204,204,204,0);}