div#contenido{
    padding-bottom: 14px;
    
}

div.caja_articulo{
    float: left;
    border-radius: 3px;
    margin-left: 14px;
    width: 275px; height: 275px;
    margin-top: 14px;}

div.caja_articulo a {
    width: inherit; height: inherit;
    float: left;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.23), 0 3px 10px rgba(0,0,0,0.16);
text-decoration: none;}

.caja_articulo img{height: 200px; width: 100%; 
    background-position: center center; background-repeat: no-repeat;
    border-radius: 3px 3px; background-size: cover;}

h2 { display: block;
    font-size: 18.6px;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
    text-align: center;
    line-height: 23px;
    color: black;
    padding-left: 8px; padding-right: 8px;
    font-family: 'Average Sans', sans-serif;}