/* =========CONTENIDO JUANRA==========*/


div#contenidojuanra{float: left; width: 1170px;}

#divformulario{float: left;}

div#datos-contacto{
    border: 1px solid black; width: 400px;
    float: right;}


div#donde-estamos{
    border: 1px solid red; 
    height: 400px; width: 400px; float: right;}

div#datos-contacto > p, div#donde-estamos > p {
    background: white;
    border-bottom: 1px dotted grey;
    border-top: 1px dotted grey;
    padding: 15px 20px;
    font-size: 20px;
    margin-bottom: 15px;}

div#datos-contacto ul li a {
    text-decoration: none;   
    color:#d8450b;
    display: block;
    float: left;
    width: 280px;}


div#datos-contacto ul li{
    padding-left: 20px;
    padding-bottom: 10px;}