/*Estructura de la pagina*/
body {background-image: url("../img/page-bg-1.jpg");}

.limpiar{clear: both;}

div#contenedor {
    width: 1170px;
    margin: 0 auto;
}

div#encabezado {
    height: 450px;margin-top: 25px;
    font-family: 'Average Sans', sans-serif;
}

div#contenido {
    height: 600px;border: 1px solid black;margin-top: 25px;
    font-family: 'Average Sans', sans-serif;
}

div#pie {margin-top: 25px;background-color: #e5e5e5;
font-family: 'Average Sans', sans-serif; margin-bottom: 20px;}

div#menulogo {height: 55px;}
div#portada {height: 350px;margin-top: 45px;}

div#galeria {height: 350px; width: 770px; border: 1px solid orange;float: left;}
div#textoprincipal {height: 330px; width: 350px; border: 1px solid pink;float: right;}
div#logo {width: 470px;height: 55px;float: left;}
div#menu {width: 690px; height: 55px;float: right;}

div#pie1, div#pie2, div#pie3, div#pie4 {
    width: 240px; height: 240px;
    float: left;margin-top: 10px;
}
div#pie4 {float: right;}
div#pie1, div#pie2 {margin-right: 16px;}