div#galeria{position: relative; perspective: 700; margin: 0 auto;}


div#fotos-galeria{
    position: absolute; 
    transform-style: preserve-3d;
    width: 770px; height: 350px;}


div#fotos-galeria:hover {transform: rotatex(360deg);
        transition: all 10s linear 0s;}


div#fotos-galeria div{position: absolute;}


div#fotos-galeria div p{
    position: absolute;
    font-size: 30px;
    color: white;
    width: 670px;
    top:300px;
    padding-left: 100px;
    background: rgba(153,153,153,0.8;);}


div#fotos-galeria div.foto1{
    transform: translateZ(175px) rotatex(0deg);
}

div#fotos-galeria div.foto2{
transform: translateZ(175px) rotateX(90deg);}

div#fotos-galeria div.foto3{
transform: translateZ(175px) rotatex(180deg);}

div#fotos-galeria div.foto4{transform: translateZ(175px) rotateX(270deg); }