/* Comienza el CSS del LOGO */

div#menulogo a{text-decoration: none; color: black;}

div#logo img {float: left;}
div#logo p {
    color: black;
    float: left;
    text-align: center;
    font-size: 31px;
    margin-top: 4px;
    letter-spacing: 7px;
    font-family: 'Julius Sans One', sans-serif;}

div#logo p span {
    color: black;
    display: block;
    margin-top: 4px;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 500;}


/* Comienza el CSS del Menu */
#menu{font-family: 'Josefin Sans', sans-serif;padding-right: 180px;}


div#menu ul {margin-top: 5px;}

div#menu ul.submenu {display: none;}
div#menu ul li:hover ul.submenu {display: block;}

div#menu ul li {
    
    display: inline;
    float: right;}


/*div#menu ul li:hover {background-color: limegreen;}*/
div#menu ul li:hover a {font-weight: 900;}


div#menu ul li a {
    display: block;
    height: 30px; 
    color: black;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:500;
}

/* Comienza el CSS del Submenu */

div#menu li:hover ul.submenu {display: block;}

div#menu ul li ul.submenu {
        width: inherit;
        position: absolute;
        margin: 0px;}
div#menu ul li ul.submenu li {
        width: 130px;height: 31px;}

div#menu ul li ul.submenu li a {
    height: 18px;
    margin: 0px;
    font-weight: 400;
    border-bottom: 1px solid black;
    font-size: 13px;
    padding-top:  12px; padding-bottom: 0px;
    padding-left: 10px; padding-right: 10px;}

div#menu ul li ul.submenu li:hover {background: orange;}

div#menu ul li ul.submenu li:hover a{font-weight: 600;}
div#menu ul li span {width: 23,45px; height: 22,72px;display: block;}

div#menu ul li a span.flecha {width: 14px; height: 14px;display: block;float:right;margin-left:10px;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: -313px -120px;
	}