/* Comienza el CSS del LOGO */

div#logo img {float: left;}
div#logo p {
    float: left;
    text-align: center;
    font-size: 30px;
    margin-top: 6px;
    letter-spacing: 4px;
    font-family: 'Julius Sans One', sans-serif;
}


div#logo p span {
    display: block;
    font-size: 14px;
}



/* Comienza el CSS del Menu */
#menu{font-family: 'Josefin Sans', sans-serif;}


div#menu ul {margin-top: 5px;}

div#menu ul.submenu {display: none;}
div#menu ul li:hover ul.submenu {display: block;}

div#menu ul li {
    
    display: inline;
    float: right;
    background: #e5e5e5;
}


div#menu ul li:hover {background-color: orange;}
div#menu ul li:hover a {color: aliceblue;}


div#menu ul li a {
    display: block;
    height: 30px; 
    color: grey;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:900;
}

/* Comienza el CSS del Submenu */

div#menu li:hover ul.submenu {display: block;}

div#menu ul li ul.submenu {
        width: 150px;
        position: absolute;
        margin: 0px;}
div#menu ul li ul.submenu li {
        width: 150px;height: 55px;
        background-color: dimgrey;}

div#menu ul li ul.submenu li a {
    border-bottom: 1px solid white;
    margin: 2px; font-size: 13px;}

div#menu ul li ul.submenu li a.primero {border-top: 0px;}
div#menu ul li ul.submenu li:hover {background: orange;}

div#menu ul li span {width: 23,45px; height: 22,72px;border: 1px solid red;display: block;}

div#menu ul li a span.flecha {width: 14px; height: 14px;display: block;float:right;margin-left:10px;
    background-image: url("../img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: -313px -120px;
	}