/*Estilos pie2*/
div#pie div#pie1, div#pie div#pie2, div#pie div#pie3, div#pie div#pie4 {padding: 20px;}

div#pie div#pie2 p{color: aliceblue;
                font-size: 20px;}

div#pie div#pie2 div {
    widows: 240px; height: 200px;
    border: 1px solid white;
    margin-top: 15px;}

div#pie div#pie3 p {
    color: white;
    margin-bottom: 15px;
    font-size: 20px;}

div#pie div#pie3 ul li a {
    color: white;
    text-decoration: none;
    height: 35px;
    display: block;
    padding-top: 15px;
    border-bottom: 1px dotted white;}