/*Estilos pie2*/
div#pie div#pie1, div#pie div#pie2, div#pie div#pie3, div#pie div#pie4, div#pie div#pie5 {padding: 20px;}

div#pie div#pie1 p, div#pie div#pie2 p, div#pie div#pie3 p,div#pie div#pie4{font-size: 20px;}


div#pie div#pie2 div {
    widows: 240px; height: 200px;
    border: 1px solid white;
    margin-top: 15px;}

div#pie div#pie3 p {margin-bottom: 15px;}

div#pie div#pie3 ul li a {
    color: black;
    text-decoration: none;
    height: 35px;
    display: block;
    padding-top: 15px;
    font-family: 'Average Sans', sans-serif;
    border-bottom: 1px dotted black;}

div#pie div#pie1 img{margin: 10px 0px;}

div#pie div#pie4 div.video{margin-top: 23px;}

div#pie div#pie1 div.social{margin-top: 15px;}

div#pie div#pie1 div.social span{
    width: 46px; height: 46px; display: block; float: left;
    background-image: url(../img/social-icons.png);
    background-repeat: no-repeat;}

div#pie div#pie1 div.social span.face {background-position: 0px 0px;}

div#pie div#pie1 div.social span.twitter {background-position: -52px 0px;}

div#pie div#pie1 div.social span.google {background-position: -104px 0px;}
 
div#pie div#pie1 div.social span.rss {background-position: -156px 0px;}

div#pie div#pie1 div.social span.instagram {background-position: -208px 0px;}

/*hover*/

div#pie div#pie1 div.social span.face:hover {background-position: 0px -46px;}

div#pie div#pie1 div.social span.twitter:hover {background-position: -52px -46px;}

div#pie div#pie1 div.social span.google:hover {background-position: -104px -46px;}
 
div#pie div#pie1 div.social span.rss:hover {background-position: -156px -46px;}

div#pie div#pie1 div.social span.instagram:hover {background-position: -208px -46px;}

div#pie div#pie5{background-color: gainsboro;}

div#pie div#pie5 p{font-size: 12px;}

div#pie div#pie5 p a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

div#pie div#pie5 p a:hover {
    color:#d8450b;
    font-weight: 700;
}

div#pie div#pie5 p.izq{float: left;}

div#pie div#pie5 p.drch{float: right; margin-right: 70px;}

div#pie div#pie5 div.arriba {width: 47px; height: 47px; float: right; background-image: url(../img/back-top-btn.png);}